{% extends 'layouts.html' %}

{% load static %}

{% block title %}
  بیانیه ماموریت
{% endblock %}

{% block content %}
  <br>
  <br>
  <br>
  <section id="about" class="about">
    <div class="container">
      <div class="row" dir="rtl">
        <h4>کارخانه فولادسازان جویبار در سال 1399 به همت جمعی از مهندسان و کارگران توانمند کشور فعالیت خود را با تیم جدید مدیریتی و به رهبری کارآفرین نمونه کشور، جناب آقای دکتر حمیدرضا ستودیان آغاز کرد.</h4>
        <h4>این مجموعه در زمینه تولید محصولات فولادی، فولادهای آلیاژی با ارزش افزوده بالا مشغول به فعالیت است. تنوع محصولات از انواع میلگرد و انواع ورق در سایزهای مختلف و سایر قطعات آلیاژی را شامل میشود.</h4>
        <h4>تلاش شرکت بر تحقق یک انقلاب صنعتی در کشور است. یعنی حرکت در مسیر صنعتی شدن  با افزایش کیفیت و بهره وری با استفاده از علم روز دنیا.</h4>
        <h4>ترکیب ماشین آلات صنعتی مجهز، آزمایشگاه های مدرن و به روز و نیروهای متخصص و با تجریه، موجب کاهش بهای تمام شده محصولات و تنوع بالا در آنها شده که این دو مورد، مزیت رقابتی مجموعه فولادسازان جویبار نسبت به سایر رقبا می باشد.</h4>
      </div>
      <img src="{% static 'img/Factory/11.jpg' %}" alt="" width="400" height="600" class="center">

    </div>
  </section>

{% endblock %}
