{% extends 'layouts.html' %}

{% load static %}


{% block title %}
  تامین کنندگان
{% endblock %}

{% block content %}

  <section id="about" class="about">
    <div class="container">

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link href="//stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" rel="stylesheet" id="bootstrap-css">
      <link href="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" id="bootstrap-css">

        <br>
        <br><br>
        <section id="clients" class="section-bg">
          <div class="container">
              <div class="section-header">
                  <h3>تامین کنندگان</h3>
                  <p>همکاری با شما، افتخار ماست </p>
              </div>
              <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <div class="col-lg-3 col-md-4 col-xs-6">
                      <div class="client-logo"><a href="http://amasys.ir/" target="_blank"><img src="{% static 'img/Customers/Amasys.jpg' %}" class="img-fluid" alt=""> </a></div>
                  </div>
                  <!-- <div class="col-lg-3 col-md-4 col-xs-6">
                      <div class="client-logo"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6">
                      <div class="client-logo"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460269/104840a62d46c05d285762857fecb61a.png" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6">
                      <div class="client-logo"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460358/client-4.png" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6">
                      <div class="client-logo"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6">
                      <div class="client-logo"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6">
                      <div class="client-logo"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460418/client-7.png" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6">
                      <div class="client-logo"> <img src="https://bootstrapmade.com/demo/themes/NewBiz/img/clients/client-8.png" class="img-fluid" alt=""> </div>
                  </div> -->
              </div>
          </div>
      </section>

    </div>
  </section>

{% endblock %}
