{% extends 'layouts.html' %}

{% load static %}


{% block title %}
  گالری
{% endblock %}

{% block content %}

  <section id="about" class="about">
    <div class="container">


      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">همه</li>
                <li data-filter=".filter-app">محصولات</li>
                <li data-filter=".filter-card">مجموعه کارخانه و شرکت</li>
                <!-- <li data-filter=".filter-web">اسلب نوع سه</li> -->
              </ul>
            </div>
          </div>

          <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 2</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>تخلیه ذوب</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="تخلیه ذوب"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>تخلیه ذوب</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="تخلیه ذوب"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/3.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>ذوب</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ذوب"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/3.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/4.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>ریخته گری</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ریخته گری"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/5.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>ریخته گری</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ریخته گری"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/6.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>تخلیه ذوب</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="تخلیه ذوب"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/4.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/7.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>ریخته گری</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ریخته گری"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/10.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/10.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/5.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/8.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>ریخته گری</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ریخته گری"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/9.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>ریخته گری</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ریخته گری"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/9.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/6.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Factory/10.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>ریخته گری</h4>
                  <p>مجوعه کارخانه و شرکت</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Factory/10.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ریخته گری"><i class="bx bx-plus"></i></a>
                    <!-- <a href="{% static 'img/Factory/1.jpg' %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/7.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{% static 'img/Products/8.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>محصولات</h4>
                  <p>محصولات</p>
                  <div class="portfolio-links">
                    <a href="{% static 'img/Products/8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="محصولات"><i class="bx bx-plus"></i></a>
                    <!-- <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  </div>
                </div>
              </div>
            </div>



          </div>

        </div>
      </section><!-- End Portfolio Section -->



    </div>
  </section>

{% endblock %}
